@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2-Medium.woff") format("woff");
  src: url("../fonts/GOSTUI2-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2-Bold.woff") format("woff");
  src: url("../fonts/GOSTUI2-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #182140;
  --color-secondary: #122050;
  --color-info: #606984;
  --color-danger: #d51a1a;
  --color-success: #25b38b;
  --color-divider: #e5e5eb;
  --color-bg_primary: #ffffff;
  --color-overlay: #fffffffa;
  --color-link: #175cc3;
  --color-bg_secondary: #fbfbfbe0;
  --color-font_primary: #333333;
  --color-font_secondary: #3b4256;
  --color-font_info: #76767a;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--color-link);
}

.a-center {
  text-align: center !important;
}

.a-left {
  text-align: left !important;
}

.a-right {
  text-align: right !important;
}

.align-center {
  align-items: center !important;
}

.align-baseline {
  align-items: baseline !important;
}

.auth_prompt {
  width: 350px;
}

.app_notification p {
  color: var(--color-font_primary) !important;
  font-weight: bold;
}

.btn_group__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.btn_group__wrapper input,
.btn_group__wrapper button,
.btn_group__wrapper div,
.btn_group__wrapper label {
  margin: 0 2px;
}

body {
  font-family: "GOST UI 2";
  overflow: hidden;
}

body,
.el-main,
.el-header {
  margin: 0;
  padding: 0 !important;
}

.el-header {
  height: auto !important;
  z-index: 999
}

body span,
p {
  word-break: normal !important;
}

.drawer-footer {
  color: white;
  padding: 1rem;
  background-color: var(--color-secondary);
}

.el-popup-parent--hidden {
  padding-right: 0 !important;
}

.el-dialog {
  margin-top: 10vh;
  box-shadow: 2px 4px 4px #00000045;
}

.el-dialog__body {
  padding: 15px;
}

.el-dialog__body .el-form-item {
  margin-bottom: 0.2rem;
}

.el-dialog__header {
  border-bottom: 1px solid var(--color-divider);
}

.el-dialog__header>span {
  font-size: 15px;
}

.el-drawer__body {
  overflow: auto !important;
  color: var(--color-font_primary);
}

.el-drawer:focus {
  outline: none !important;
}

.el-drawer>header>span:focus {
  outline-color: white;
}

.el-drawer>header>button:focus {
  outline-color: white;
}

.el-dropdown-menu__item a {
  color: inherit;
}

.el-drawer header,
.el-dialog__header {
  font-weight: bold;
  color: var(--color-font_secondary);
}

.el-select-dropdown__list {
  margin-bottom: 1rem;
}

.el-card__header,
.el-card__body {
  padding: 10px 15px;
}

.el-card__header {
  display: flex;
  min-height: 55px;
}

.el-table .success-row,
.success-row {
  background-color: #58ff0017;
}

.el-table .danger-row,
.danger-row {
  background-color: #ff00001a;
}

.el-table .warning-row,
.warning-row {
  background-color: #e6e13c87;
}

.el-table .new-row,
.new-row,
.inactive-row {
  background-color: #f5f7fa;
}

.el-table .inactive-row,
.inactive-row {
  background-color: #e2e2e2;
}

.el-table__row.expanded td {
  border-bottom: none;
}

.el-table .cell {
  word-break: break-word !important;
}

.el-table .new-row:hover {
  color: black !important;
}

.el-table .ascending .sort-caret.ascending {
  border-bottom-color: var(--color-link);
}

.el-table .descending .sort-caret.descending {
  border-top-color: var(--color-link);
}

.el-tag {
  border-radius: 0;
  border: none;
  white-space: break-spaces;
  display: inline-table;
}

table thead tr th {
  background-color: var(--color-primary) !important;
}

table thead tr th,
table thead tr th i {
  color: #ffffff !important;
}

.el-menu-item {
  width: 100%;
}

.el-submenu .el-menu-item {
  height: auto;

}

.el-submenu .el-menu-item span {
  white-space: break-spaces;
}

.el-menu-item.is-active:not(.el-menu-item.collapse) {
  background-color: #e8e9ec;
}

.el-notification {
  z-index: 3000 !important;
}

.el-notification__content p {
  white-space: break-spaces;
}

.expanded_row {
  display: flex;
  align-items: center;
  padding: 1rem 0.6rem;
}

.expanded_row .el-button-group {
  margin-left: auto !important;
}

.expanded_row .meta {
  max-width: 80%;
}

.expanded_row .heading {
  margin-right: 0.5rem;
}

.el-button--info {
  border: none;
}

.form-item {
  margin: 0.3rem 0 !important;
}

.form-item .el-select {
  width: 100%;
  margin: 0.2rem 0;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-start {
  justify-content: flex-start !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.heading {
  font-family: "GOST UI 2";
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  color: var(--color-font_primary);
}

i {
  outline: none;
}

.inactive {
  pointer-events: none;
  opacity: 0.4;
}

.icons_group {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  margin: 0 0.2rem;
}

.icon.mini {
  height: 16px;
}

.icon.medium {
  height: 32px;
}

.icon.large {
  height: 45px;
}

.justify-center {
  justify-content: center !important;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

main {
  color: black;
}

nav,
nav i {
  color: white !important;
}

.page_wrapper {
  background: var(--color-overlay) url("../assets/bg_logo_color.webp");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination_wrapper {
  padding: 1rem;
}

.pagination_wrapper li {
  font-weight: normal;
  font-size: 0.85rem;
}

.shadowed {
  box-shadow: 2px 1px 6px #6161614d;
}

.rounded {
  border-radius: 5px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.summary_wrapper {
  display: flex;
  padding: 1rem;
  border-bottom: 1px #e6e6e6 solid;
}

.summary_wrapper div {
  padding: 0 0.5rem;
  font-size: 16px;
  border-right: 1px #d5d5d5 solid;
}

.summary_wrapper div:last-child {
  border-right: none;
}

textarea {
  font-family: "GOST UI 2" !important;
  font-weight: normal !important;
  font-size: 14px !important;
  word-break: break-word;
}

table th {
  color: var(--color-font_primary);
}

table .tag_repair {
  cursor: pointer;
}

table .column_clickable {
  cursor: pointer;
  text-decoration: underline;
}

.tabs-wrapper i {
  margin-right: 0.4rem;
  font-size: 18px;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.badge-signed {
  background-color: var(--color-success);
  color: #ffffff;
  border-radius: 50%;
  width: 21px;
  line-height: 21px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 0.4rem;
}

.badge-signed i {
  vertical-align: middle;
  font-weight: bold;
}

.drawer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.align-start {
  align-items: start !important;
}

.short-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}